---
---

@import "bourbon/bourbon";
@import "base/base";
@import "mixins";

body {
  margin: 0;
}

.spacer {
  @include breakpoint(48em, true) {
    @include columns(3/12);
  }
}

/* Sidebar */
#sidebar {
  @include columns(1/1);
  display: flex;
  flex-direction: column;
  align-content: space-around;

  padding: 10em 2em 4em;


  @include breakpoint(48em, true) {
    @include columns(3/12);
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
  }
  background-color: black;

  color: #ffffff;

  .copyright {
    text-align: center;
  }
}

.img-round {
  border-radius: 200px;
  border: 4px solid white;
  max-width: 256px;
  margin: 0 auto;
}

.description {
  p {
    text-align: center;
  }
}

.center {
  margin: 0 auto;
}